.card {
  background-color: var(--dark-color);
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.card__bookmark {
  background: none;
  border: none;
  padding: 0;
  color: var(--accent-color);
  font-size: 1.5rem;
  position: absolute;
  top: -6px;
  right: 30px;
}

.card__question {
  color: #fff;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4rem;
  margin: 25px;
}

.card--hidden {
  display: none;
}

.card__answer-button {
  background-color: var(--accent-color);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card__answer {
  color: var(--accent-color);
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.4rem;
  padding: 25px;
  margin: 25px;
}

.card__tags {
  color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 25px;
}

.card__single-tag {
  background-color: #3e444a;
  font-size: 0.7rem;
  padding: 6px 12px 6px 12px;
  border-radius: 1px;
}

.card__single-tag::before {
  content: "#";
}
