.title {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.title__headline {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
